# Setup if you dont have this installed

In [ ]:
# Run the cell below

In [1]:
# !pip install psycopg2-binary
# !pip install sqlalchemy

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.3-cp39-cp39-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.3
Requirement already satisfied: sqlalchemy in d:\anacondas\lib\site-packages (1.4.22)
Requirement already satisfied: greenlet!=0.4.17 in d:\anacondas\lib\site-packages (from sqlalchemy) (1.1.1)

In [2]:
# Or type this directly to the terminal or ananconda prompt Warning this below takes long time

In [3]:
# conda install -c anaconda psycopg2

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: D:\anacondas

  added / updated specs:
    - psycopg2


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.11.0               |   py39haa95532_0        14.4 MB
    libpq-12.9                 |       hb652d5d_1         2.7 MB
    psycopg2-2.8.6             |   py39hcd4344a_1         156 KB
    ------------------------------------------------------------
                                           Total:        17.3 MB

The following NEW packages will be INSTALLED:

  libpq              pkgs/main/win-64::libpq-12.9-hb652d5d_1
  psycopg2           pkgs/main/win-64::psycopg2-2.8.6-py39hcd4344a_1

The following packages will be SUPERSEDED by a higher-priority channel:

  conda              conda-forge::conda-4.11.0-py39hcbf530~ --> pkgs/main::conda-4.11.0-py39haa95532_0



Downloading and Extracting Packages

conda-4.11.0         | 14.4 MB   |            |   0%
conda-4.11.0         | 14.4 MB   |            |   0%
conda-4.11.0         | 14.4 MB   | 2          |   3%
conda-4.11.0         | 14.4 MB   | 4          |   5%
conda-4.11.0         | 14.4 MB   | 6          |   6%
conda-4.11.0         | 14.4 MB   | #          |  11%
conda-4.11.0         | 14.4 MB   | #3         |  14%
conda-4.11.0         | 14.4 MB   | #6         |  16%
conda-4.11.0         | 14.4 MB   | #9         |  19%
conda-4.11.0         | 14.4 MB   | ##1        |  22%
conda-4.11.0         | 14.4 MB   | ##4        |  24%
conda-4.11.0         | 14.4 MB   | ##7        |  27%
conda-4.11.0         | 14.4 MB   | ##9        |  30%
conda-4.11.0         | 14.4 MB   | ###2       |  32%
conda-4.11.0         | 14.4 MB   | ###4       |  35%
conda-4.11.0         | 14.4 MB   | ###7       |  37%
conda-4.11.0         | 14.4 MB   | ####       |  40%
conda-4.11.0         | 14.4 MB   | ####2      |  43%
conda-4.11.0         | 14.4 MB   | ####5      |  45%
conda-4.11.0         | 14.4 MB   | ####7      |  48%
conda-4.11.0         | 14.4 MB   | #####      |  51%
conda-4.11.0         | 14.4 MB   | #####3     |  53%
conda-4.11.0         | 14.4 MB   | #####5     |  56%
conda-4.11.0         | 14.4 MB   | #####8     |  58%
conda-4.11.0         | 14.4 MB   | ######     |  61%
conda-4.11.0         | 14.4 MB   | ######3    |  63%
conda-4.11.0         | 14.4 MB   | ######6    |  66%
conda-4.11.0         | 14.4 MB   | ######8    |  69%
conda-4.11.0         | 14.4 MB   | #######1   |  71%
conda-4.11.0         | 14.4 MB   | #######3   |  74%
conda-4.11.0         | 14.4 MB   | #######6   |  76%
conda-4.11.0         | 14.4 MB   | #######9   |  80%
conda-4.11.0         | 14.4 MB   | ########2  |  82%
conda-4.11.0         | 14.4 MB   | ########4  |  85%
conda-4.11.0         | 14.4 MB   | ########7  |  88%
conda-4.11.0         | 14.4 MB   | #########  |  91%
conda-4.11.0         | 14.4 MB   | #########3 |  93%
conda-4.11.0         | 14.4 MB   | #########6 |  96%
conda-4.11.0         | 14.4 MB   | #########8 |  99%
conda-4.11.0         | 14.4 MB   | ########## | 100%

libpq-12.9           | 2.7 MB    |            |   0%
libpq-12.9           | 2.7 MB    | 4          |   5%
libpq-12.9           | 2.7 MB    | #8         |  18%
libpq-12.9           | 2.7 MB    | ###2       |  32%
libpq-12.9           | 2.7 MB    | ####5      |  46%
libpq-12.9           | 2.7 MB    | #####9     |  60%
libpq-12.9           | 2.7 MB    | #######2   |  73%
libpq-12.9           | 2.7 MB    | ########5  |  86%
libpq-12.9           | 2.7 MB    | ########## | 100%
libpq-12.9           | 2.7 MB    | ########## | 100%

psycopg2-2.8.6       | 156 KB    |            |   0%
psycopg2-2.8.6       | 156 KB    | ########## | 100%
psycopg2-2.8.6       | 156 KB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [ ]:
# OR type this directly to the terminal or ananconda prompt Warning this below takes long time

In [ ]:
# pip install psycopg2-binary
# pip install sqlalchemy

#  Everyone Turn - 01 - Functions - üë©‚Äçüéìüë®‚Äçüéì üë©‚Äçüè´üßë‚Äçüè´

In [4]:
# Basic Definition
def name(parameters):
    # code goes here
    return

In [ ]:
# Simple Function with no parameters
def show():
    print(f"Hi!")
    

# You use parenthesis to run the code in a function
show()

In [ ]:
# Simple function with one parameter
def show(message):
    print(message)

# Think of the parameter `message` as a variable
# You assign the string "Hello, World!" when you call the function
# This is like saying `message = "Hello, World!"`
show("Hello, World!")

In [ ]:
# Functions can have more than one parameter
def make_quesadilla(protein, topping):
    quesadilla = f"Here is a {protein} quesadilla with {topping}"
    print(quesadilla)

In [ ]:
# Supply the arguments (values) when calling the function
make_quesadilla("beef", "guacamole")
make_quesadilla("chicken", "salsa")


# @NOTE: Order is important when supplying arguments!
make_quesadilla("sour cream", "beef")

In [ ]:
# We can also specify default values for parameters
def make_quesadilla(protein, topping="sour cream"):
    quesadilla = f"Here is a {protein} quesadilla with {topping}"
    print(quesadilla)
    

# Make a quesadilla using the default topping
make_quesadilla("chicken")

# Make a quesadilla with a new topping
make_quesadilla("beef", "guacamole")

In [ ]:

# Functions can return a value
def square(number):
    return number * number

In [ ]:
# You can save the value that is returned
squared = square(2)
print(squared)

# You can also just print the return value of a function
print(square(2))
print(square(3))

# Student Turn - 02  -- Wrestling With Functions - üë©‚Äçüéìüë®‚Äçüéì

# Wrestling with Functions

## Instructions

* Analyze the code and CSV provided, looking specifically for what needs to still be added to the application.

* Using the starter code provided, create a function called `print_percentages` which takes in a parameter called `wrestler_data` and does the following:

  * Uses the data stored within `wrestler_data` to calculate the percentage of matches the wrestler won, lost, and drew over the course of a year.

  * Prints out the stats for the wrestler to the terminal.

## Bonus

* Still within the `print_percentages()` function, create a conditional that checks a wrestler's loss percentage and prints either "Jobber" to the screen if the number was greater than fifty or "Superstar" if the number was less than 50.

In [19]:
import os
import csv

# Path to collect data from the Resources folder
wrestling_csv = os.path.join('.', 'Resources', 'WWE-Data-2016.csv')


# Define the function and have it accept the 'wrestler_data' as its sole parameter
def print_percentages(wrestler_data):
    # For readability, it can help to assign your values to variables with descriptive names
    name = str(wrestler_data[0])
    wins = int(wrestler_data[1])
    losses = int(wrestler_data[2])
    draws = int(wrestler_data[3])
    # Total matches can be found by adding wins, losses, and draws together
    total_matches = wins + losses + draws

    # Win percent can be found by dividing the the total wins by the total matches and multiplying by 100
    win_percent = (wins / total_matches) * 100

    # Loss percent can be found by dividing the total losses by the total matches and multiplying by 100
    loss_percent = (losses / total_matches) * 100

    # Draw percent can be found by dividing the total draws by the total matches and multiplying by 100
    draw_percent = (draws / total_matches) * 100

    # If the loss percentage is over 50, type_of_wrestler is "Jobber". Otherwise it is "Superstar".
    if loss_percent > 50:
        type_of_wrestler = "Jobber"
    else:
        type_of_wrestler = "Superstar"

    # Print out the wrestler's name and their percentage stats
    print(f"Stats for {name}")
    print(f"WIN PERCENT: {str(win_percent)}")
    print(f"LOSS PERCENT: {str(loss_percent)}")
    print(f"DRAW PERCENT: {str(draw_percent)}")
    print(f"{name} is a {type_of_wrestler}")

# Read in the CSV file
with open(wrestling_csv, 'r') as csvfile:

    #to do read and analyse data here

    wrestler_data = csv.reader(csvfile, delimiter = ",")
    print(wrestler_data)
    #print each row in the csv file
    header = next(wrestler_data)
    print(header)

    # Split the data on commas
    
    

   

    # Prompt the user for what wrestler they would like to search for
    wrestler_to_find = input("what is the wrestler you like to find?")


    # Loop through the data
    for row in wrestler_data:
        
        if wrestler_to_find == row[0]:
            print(row)
            print_percentages(row)
        # If the wrestler's name in a row is equal to that which the user input, run the 'print_percentages()' function

<_csv.reader object at 0x0000029093082580>
['Wrestler', 'Wins', 'Losses', 'Draws']
what is the wrestler you like to find?Tyler Breeze
['Tyler Breeze', '17', '163', '2']
Stats for Tyler Breeze
WIN PERCENT: 9.340659340659341
LOSS PERCENT: 89.56043956043956
DRAW PERCENT: 1.098901098901099
Tyler Breeze is a Jobber

<details>
  <summary><strong> ‚úÖ Solution 02</strong></summary>

```python
import os
import csv

# Path to collect data from the Resources folder
wrestling_csv = os.path.join('.', 'Resources', 'WWE-Data-2016.csv')


# Define the function and have it accept the 'wrestler_data' as its sole parameter
def print_percentages(wrestler_data):
    # For readability, it can help to assign your values to variables with descriptive names
    name = str(wrestler_data[0])
    wins = int(wrestler_data[1])
    losses = int(wrestler_data[2])
    draws = int(wrestler_data[3])

    # Total matches can be found by adding wins, losses, and draws together
    total_matches = wins + losses + draws

    # Win percent can be found by dividing the the total wins by the total matches and multiplying by 100
    win_percent = (wins / total_matches) * 100

    # Loss percent can be found by dividing the total losses by the total matches and multiplying by 100
    loss_percent = (losses / total_matches) * 100

    # Draw percent can be found by dividing the total draws by the total matches and multiplying by 100
    draw_percent = (draws / total_matches) * 100

    # If the loss percentage is over 50, type_of_wrestler is "Jobber". Otherwise it is "Superstar".
    if loss_percent > 50:
        type_of_wrestler = "Jobber"
    else:
        type_of_wrestler = "Superstar"

    # Print out the wrestler's name and their percentage stats
    print(f"Stats for {name}")
    print(f"WIN PERCENT: {str(win_percent)}")
    print(f"LOSS PERCENT: {str(loss_percent)}")
    print(f"DRAW PERCENT: {str(draw_percent)}")
    print(f"{name} is a {type_of_wrestler}")


# Read in the CSV file
with open(wrestling_csv, 'r') as csvfile:

    # Split the data on commas
    csvreader = csv.reader(csvfile, delimiter=',')

    header = next(csvreader)

    # Prompt the user for what wrestler they would like to search for
    name_to_check = input("What wrestler do you want to look for? ")

    # Loop through the data
    for row in csvreader:

        # If the wrestler's name in a row is equal to that which the user input, run the 'print_percentages()' function
        if name_to_check == row[0]:
            print_percentages(row)


```

</details>

# Instructor Turn - 03  -- Lambda Functions - üë©‚Äçüè´üßë‚Äçüè´

Here is a function that takes in a value x and returns x times itself. There are four parts to this function:
1. Name (`square`)
2. Parameter (`x`)
3. Code Block (`squared_value = x*x`)
4. Return statement (`return squared_value`)

In [ ]:
def square(x):
    squared_value = x*x
    return squared_value

We can represent the same function with a lambda. It has no name, so we assign it to the variable `f` to demonstrate how to use it. It also has no code block, it only returns the expression `x*x`

In [ ]:
f = lambda x: x*x

Both functions give the same result

In [ ]:
square(5)

In [ ]:
f(5)

But lambda functions are meant to be used when passed as a parameter (remember, in Python, functions are first-class variables!)

Here's a simple example: a function called `apply_function_twice` that takes in a function and applies it twice to a value `input_value`

In [ ]:
def apply_function_twice(func, input_value):
    return func(func(input_value))

we can use `apply_function` to square the number 6 using `square`, `f`, or the original lambda function we assigned to `f`.

In [ ]:
apply_function_twice(square, 3)

In [ ]:
apply_function_twice(f, 3)

In [ ]:
apply_function_twice(lambda x: x*x, 3)

lambda functions become really powerful when combined with Pandas, using the `apply()` method.

In [ ]:
import pandas as pd

Suppose we have a dataset of candy with a handful of attributes, ratings, and costs

In [ ]:
candy_df = pd.DataFrame(
    [{'candy':'snickers','has_chocolate':True, 'has_nuts':True, 'is_fruity':False, 'rating':9.5, 'cost':1.50},
     {'candy':'skittles','has_chocolate':False, 'has_nuts':False, 'is_fruity':True, 'rating':9.2, 'cost':0.99},
     {'candy':'caramello','has_chocolate':True, 'has_nuts':False, 'is_fruity':False, 'rating':8.3, 'cost':0.99},
     {'candy':'circus peanuts','has_chocolate':False, 'has_nuts':False, 'is_fruity':False, 'rating':2.2, 'cost':0.49},
     {'candy':'whatchamacallit','has_chocolate':True, 'has_nuts':True, 'is_fruity':False, 'rating':7.8, 'cost':1.49},
     {'candy':'starburst','has_chocolate':False, 'has_nuts':False, 'is_fruity':True, 'rating':8.5, 'cost':1.00},
     {'candy':'mars bar','has_chocolate':True, 'has_nuts':False, 'is_fruity':False, 'rating':7.2, 'cost':1.30},
    ]
)
candy_df

Suppose we wanted to find a candy that
1. has chocolate,
2. does not have nuts, and
3. the rating-to-cost ratio is greater than 7

we can do this with `apply()` and a lambda function that takes in the entire row as its parameter

In [ ]:
candy_df[candy_df.apply(lambda row: row['has_chocolate'] == True and 
                        row['has_nuts'] == False and 
                        row['rating']/row['cost'] > 7, axis=1)]

We can also use lambda functions to create new columns. Suppose we want to make a personalized rating value adjustment. Let's say we really like fruity candy, so fruity candy gets a +1 to the rating, and we like chocolate, but only if the candy has nuts as well, so chocolate and nuts gives a +0.75 to the rating.

In [ ]:
candy_df['adjusted_rating'] = candy_df.apply(lambda row: row['rating'] + row['is_fruity'] * 1 + row['has_chocolate']*row['has_nuts']*0.75, axis=1)
candy_df

# Student Turn  - 04 -- Lambda Functions - üë©‚Äçüéìüë®‚Äçüéì

# Lambda Functions

## Instructions

* Use the existing code to load in the Movielens data into a DataFrame `movies_df`.

* Create a lambda function to filter `movies_df` to movies with more than 15 words in their title

* Create a lambda function to filter `movies_df` to only movies that have a budget over 1000 and have revenue more than one hundred times the budget value

* Use the existing code to load in a list of English words to `words_df`

* Create a lambda function to filter `words_df` to only those words that contain the letter `x`

* Note: example named functions have been created for each exercise. You will need to convert them into lambda functions.

In [20]:
import pandas as pd

In [21]:
movies_df = pd.read_csv(f'./Resources/movies_metadata.csv')

movies_df = movies_df[movies_df['adult'] == 'False'].drop('adult',axis='columns')
movies_df['video'] = movies_df['video'] == 'True'
movies_df['budget'] = movies_df['budget'].astype(int)
movies_df['revenue'] = movies_df['revenue'].astype(float)
movies_df['id'] = pd.to_numeric(movies_df['id'], errors='raise')
movies_df['popularity'] = pd.to_numeric(movies_df['popularity'], errors='raise')

D:\anacondas\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [22]:
def more_than_15_words(title):
    split_title = title.split() # split the title into a list of words
    number_of_words_in_title = len(split_title) # count the number of words in the title
    is_greater_than_15 = number_of_words_in_title > 15 # check if the number of words is greater than 15
    return is_greater_than_15 # return whether or not the title has more than 15 words

movies_df[movies_df['original_title'].map(more_than_15_words)]

,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
7241,NaN,5600000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,10338,tt0059797,en,Those Magnificent Men in Their Flying Machines...,Star studded comedy about a early 20th century...,5.191425,...,1965-06-03,29950000.0,138.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,or How I Flew from London to Paris in 25 hours...,Those Magnificent Men in Their Flying Machines...,False,6.4,40.0
7268,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,65332,tt0070061,it,"Film d'amore e d'anarchia, ovvero 'stamattina ...",Set in Fascist Italy before the outbreak of Wo...,0.614959,...,1973-02-23,0.0,120.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,Love and Anarchy,False,7.0,8.0
8420,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,22638,tt0036910,en,The Chronicle History of King Henry the Fifth ...,Olivier mustered out of the navy to film this ...,1.200979,...,1944-11-24,0.0,137.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Henry V,False,7.0,25.0
9227,NaN,0,[],NaN,22616,tt0230575,en,Night of the Day of the Dawn of the Son of the...,"The makers of this parody of ""Night of the Liv...",0.022568,...,1991-01-01,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Night of the Day of the Dawn of the Son of the...,False,5.3,4.0
14093,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,36108,tt0973844,en,Chacun son cinema ou Ce petit coup au coeur qu...,A collective film of 33 shorts directed by dif...,10.604359,...,2007-05-19,0.0,100.0,"[{'iso_639_1': 'da', 'name': 'Dansk'}, {'iso_6...",Released,NaN,To Each His Own Cinema,False,7.2,26.0
36826,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,270936,tt1023446,en,Ellen ten Damme: As I Was Wondering Where This...,Documentary about Dutch artist Ellen ten Damme...,0.003571,...,2007-04-19,0.0,66.0,[],Released,NaN,Ellen ten Damme: As I Was Wondering Where This...,False,0.0,0.0
38511,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,132144,tt0072685,es,La batalla de Chile: La lucha de un pueblo sin...,Documents the rise of the right-wing movement ...,0.057128,...,1975-03-18,0.0,97.0,"[{'iso_639_1': 'es', 'name': 'Espa√±ol'}]",Released,NaN,The Battle of Chile - Part I,False,6.3,4.0
38514,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,132148,tt0074187,es,La batalla de Chile: La lucha de un pueblo sin...,Chronicles the events immediately surrounding ...,0.004351,...,1976-03-13,0.0,88.0,"[{'iso_639_1': 'es', 'name': 'Espa√±ol'}]",Released,NaN,The Battle of Chile - Part II,False,6.8,4.0
38515,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,132150,tt0078831,es,La batalla de Chile: La lucha de un pueblo sin...,Guzm√°n‚Äôs final instalment shifts from covering...,0.112442,...,1979-03-15,0.0,78.0,"[{'iso_639_1': 'es', 'name': 'Espa√±ol'}]",Released,NaN,The Battle of Chile - Part III,False,6.0,3.0
44215,NaN,0,"[{'id': 12, 'name': 'Adventure'}]",NaN,85854,tt0052156,en,The Saga of the Viking Women and Their Voyage ...,A group of lonely Viking women build a ship an...,0.587937,...,1957-12-01,0.0,66.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fabulous! Spectacular! Terrifying! The raw cou...,The Saga of the Viking Women and Their Voyage ...,False,2.0,3.0

In [ ]:
# Find all the movies that have more than 15 words in their title using a lambda function.

In [ ]:
def hundredfold_return(row):
    revenue = row['revenue']
    budget = row['budget']
    budget_over_1000 = budget > 1000
    revenue_over_100x = revenue > 100 * budget
    return revenue_over_100x and budget_over_1000
    
movies_df[movies_df.apply(hundredfold_return, axis=1)]

In [ ]:
# Find all movies with budgets over 1000 that pulled in revenue over 100x their budget using a lambda function

In [ ]:
# load in list of English words
words_file = './Resources/words.txt'

words_df = pd.read_csv(words_file, sep='\n', header=None)
words_df.columns = ['text']
words_df.head()

In [ ]:
def contains_x(word):
    split_word = list(word)
    word_contains_x = 'x' in split_word
    return word_contains_x

words_df[words_df['text'].map(contains_x)]

In [ ]:
# Find all words containing the letter 'x' using a lambda function

<details>
  <summary><strong> ‚úÖ Solution 04</strong></summary>

```python

import pandas as pd

# Read in data set
movies_df = pd.read_csv(f'./Resources/movies_metadata.csv')
movies_df.head()

def more_than_15_words(title):
    split_title = title.split() # split the title into a list of words
    number_of_words_in_title = len(split_title) # count the number of words in the title
    is_greater_than_15 = number_of_words_in_title > 15 # check if the number of words is greater than 15
    return is_greater_than_15 # return whether or not the title has more than 15 words

movies_df[movies_df['original_title'].map(more_than_15_words)]

# Find all the movies that have more than 15 words in their title using a lambda function.
movies_df[movies_df['original_title'].map(lambda x: len(x.split())>15)]

def hundredfold_return(row):
    revenue = row['revenue']
    budget = row['budget']
    budget_over_1000 = budget > 1000
    revenue_over_100x = revenue > 100 * budget
    return revenue_over_100x and budget_over_1000
    
movies_df[movies_df.apply(hundredfold_return, axis=1)]

# Find all movies with budgets over 1000 that pulled in revenue over 100x their budget using a lambda function
movies_df[movies_df.apply(lambda row: row['revenue'] > 100 * row['budget'] and row['budget'] > 1000, axis=1)]


# load in list of English words
words_file = './Resources/words.txt'

words_df = pd.read_csv(words_file, sep='\n', header=None)
words_df.columns = ['text']
words_df.head()

def contains_x(word):
    split_word = list(word)
    word_contains_x = 'x' in split_word
    return word_contains_x

words_df[words_df['text'].map(contains_x)]

# Find all words containing the letter 'x' using a lambda function
words_df[words_df['text'].map(lambda word: 'x' in list(word))]
```

</details>

# Instructor Turn - 05 -- Conditional List Comprehensions  - üë©‚Äçüè´üßë‚Äçüè´

Remember, list comprehensions when we first learned them followed the form

`[expression for element in source_list]`

But there's an optional section we can add at the end to filter based on a conditional expression

`[expression for element in source_list if filter_expression]`

For example, if we have a list of dogs with their name, age, and weight, and we want to see only the large dogs, we could write

`[dog for dog in dogs if dog['weight'] > 30]`

Here, 
* the first `dog` is the _expression_
* the second `dog` is the _element_
* `dogs` is the <i>source_list</i>
* `dog['weight'] > 30` is the <i>filter_expression</i>

Note that we can use the _element_ in our filter expression

In [ ]:
# One way to create a list of even numbers is with a conditional list comprehension
# the expression is just 'x'
# the element is also 'x'
# the source_list will be 'range(100)'
# the filter_expression is 'x % 2 == 0'

even_numbers = [x for x in range(100) if x % 2 == 0]
even_numbers

In [ ]:
# We can also use a condition for our expression with an inline if
['Even' if x %2 == 0 else 'Odd' for x in range(20)]

In [ ]:
# Given a list of dictionaries, we can filter them with a list comprehension
candies = [{'name':'snickers','has_chocolate':True, 'has_nuts':True, 'is_fruity':False, 'rating':9.5, 'cost':1.50},
           {'name':'skittles','has_chocolate':False, 'has_nuts':False, 'is_fruity':True, 'rating':9.2, 'cost':0.99},
           {'name':'caramello','has_chocolate':True, 'has_nuts':False, 'is_fruity':False, 'rating':8.3, 'cost':0.99},
           {'name':'circus peanuts','has_chocolate':False, 'has_nuts':False, 'is_fruity':False, 'rating':2.2, 'cost':0.49},
           {'name':'whatchamacallit','has_chocolate':True, 'has_nuts':True, 'is_fruity':False, 'rating':7.8, 'cost':1.49},
           {'name':'starburst','has_chocolate':False, 'has_nuts':False, 'is_fruity':True, 'rating':8.5, 'cost':1.00},
           {'name':'mars bar','has_chocolate':True, 'has_nuts':False, 'is_fruity':False, 'rating':7.2, 'cost':1.30},
          ]

[candy for candy in candies if candy['has_nuts'] == False]

In [ ]:
# To make it easier to read, we can just select the name of the candies
[candy['name'] for candy in candies if candy['has_nuts'] == False]

# Student Turn - 06 - Conditional List Comprehensions - üë©‚Äçüéìüë®‚Äçüéì

# Conditional List Comprehensions

## Instructions

Use conditional list comprehensions to create the following lists:

* Make a list of numbers up to 100 that are divisible by three
* Using the given list of pets, create a list of all the names that belong to dogs
* Make a list of numbers up to 100 that are divisible by three OR divisible by five

**Hint:** Remember the modulo operator (%) !

x % y gives the remainder if x is divided by y. So, for instance x % 2 will be 0 when x is even, and 1 when x is odd

**Bonus:** Make a list comprehension that implements FizzBuzz on the last list created (multiples of 3 and 5)
FizzBuzz replaces multiples of 3 with "Fizz", multiples of 5 with "Buzz" and multiples of both 3 and 5 with "FizzBuzz"
**Hint:** use a conditional in the expression at the beginning of the list comprehension

Use conditional list comprehensions to create the lists requested in the following cells.

**Hint**: Remember the modulo operator (%) !

`x % y` gives the remainder if `x` is divided by `y`. So, for instance `x % 2` will be `0` when x is even, and `1` when x is odd

In [ ]:
# Make a list of numbers up to 100 that are divisible by three

In [ ]:
# Use conditional list comprehensions to create a list of all the pet names that are for dogs
pets = [{
    'name': 'Fido',
    'age': 4,
    'type': 'dog'
}, {
    'name': 'Rex',
    'age': 2,
    'type': 'dog'
}, {
    'name': 'Puddles',
    'age': 7,
    'type': 'wombat'
}, {
    'name': 'Tuna',
    'age': 6,
    'type': 'cat'
}, {
    'name': 'Springer',
    'age': 5,
    'type': 'dog'
}]

# CODE a list comprehension

In [ ]:
# Make a list of numbers up to 100 that are divisible by three OR divisible by five

In [ ]:
# BONUS: Make a list comprehension that implements FizzBuzz on the previous list
# FizzBuzz replaces multiples of 3 with "Fizz", multiples of 5 with "Buzz" and multiples of both 3 and 5 with "FizzBuzz"
# HINT: use a conditional in the expression at the beginning of the list comprehension

<details>
  <summary><strong> ‚úÖ Solution 06</strong></summary>


```python
# Make a list of numbers up to 100 that are divisible by three
[x for x in range(100) if x % 3 == 0]

# Use conditional list comprehensions to create a list of all the pet names that are for dogs
pets = [{
    'name': 'Fido',
    'age': 4,
    'type': 'dog'
}, {
    'name': 'Rex',
    'age': 2,
    'type': 'dog'
}, {
    'name': 'Puddles',
    'age': 7,
    'type': 'wombat'
}, {
    'name': 'Tuna',
    'age': 6,
    'type': 'cat'
}, {
    'name': 'Springer',
    'age': 5,
    'type': 'dog'
}]

[pet['name'] for pet in pets if pet['type'] == 'dog']

# Make a list of numbers up to 100 that are divisible by three OR divisible by five
[x for x in range(100) if x % 3 == 0 or x % 5 == 0]


# BONUS: Make a list comprehension that implements FizzBuzz on the previous list
# FizzBuzz replaces multiples of 3 with "Fizz", multiples of 5 with "Buzz" and multiples of both 3 and 5 with "FizzBuzz"
# HINT: use a conditional in the expression at the beginning of the list comprehension
['FizzBuzz' if x % 3 == 0 and x % 5 == 0 else 
     'Fizz' if x % 3 == 0 else 
         'Buzz' if x % 5 == 0 else ''
             for x in range(100) if x % 3 == 0 or x % 5 == 0]

```


</details>

# Instructor Turn - 07 -- Basic Regex - üë©‚Äçüè´üßë‚Äçüè´

In [ ]:
import pandas as pd
pd.options.display.max_colwidth = 100

In [ ]:
# load in English words list
sherlock_file = './Resources/sherlock.txt'

sherlock_df = pd.read_csv(sherlock_file, sep='\n', header=None)
sherlock_df.columns = ['text']
sherlock_df.head()

In [ ]:
# find all lines of text with the string 'Watson'
p = 'Watson'
sherlock_df[sherlock_df['text'].str.contains(p)]

In [ ]:
# find all lines of text with the string 'Watson' that are followed by a space
p = 'Watson\s'
sherlock_df[sherlock_df['text'].str.contains(p)]

In [ ]:
# find all lines of text with the string 'Watson' followed by a non-word character
p = 'Watson\W'
sherlock_df[sherlock_df['text'].str.contains(p)]

# Student Turn -- 08 - Basic Regex - üë©‚Äçüéìüë®‚Äçüéì

# Regular Expressions with Literal Characters and Character Types

## Instructions

* Load in the "Alice in Wonderland" text into a DataFrame `alice_df`.

* Create regular expression patterns to find all lines that 

    * contain the string `cat`,
    * contain the string ` cat` (beginning with a space),
    * contain the string ` cat` beginning with a space and ending with a non-word character.

In [ ]:
import pandas as pd
pd.options.display.max_colwidth = 100

In [ ]:
# load in Alice in Wonderland text
alice_file = './Resources/alice.txt'

alice_df = pd.read_csv(alice_file, sep='\n', header=None)
alice_df.columns = ['text']
alice_df.head()

In [ ]:
# find all lines of text with the string 'cat'

In [ ]:
# find all lines of text with the string 'cat' that begin with a space

In [ ]:
# find all lines of text with the string 'cat' that begin with a space and end with a non-word character

<details>
  <summary><strong> ‚úÖ Solution 08</strong></summary>
```python
import pandas as pd
pd.options.display.max_colwidth = 100

# load in Alice in Wonderland text
alice_file = './Resources/alice.txt'

alice_df = pd.read_csv(alice_file, sep='\n', header=None)
alice_df.columns = ['text']
alice_df.head()

# find all lines of text with the string 'cat'
p = 'cat'
alice_df[alice_df['text'].str.contains(p)]

# find all lines of text with the string 'cat' that begin with a space
p = '\scat'
alice_df[alice_df['text'].str.contains(p)]

# find all lines of text with the string 'cat' that begin with a space and end with a non-word character
p = '\scat\W'
alice_df[alice_df['text'].str.contains(p)]

```


</details>

# Extra Content -- Connection Strings - üë©‚Äçüéìüë®‚Äçüéì

# Instructions

1. There are six values in a connection string:
    * Protocol
    * User
    * Password
    * Location
    * Port
    * Database
Identify the six values in the connection string "postrgres://postgres:12345@localhost:5432/pets"

2. How is a connection string different than a website URL?

3. Create a connection string with the following values
    * Protocol: "mysql"
    * User: "admin"
    * Password: "p@ssw0rd123"
    * Location: "rds.us-east-2.amazonaws.com"
    * Port: "3306"
    * Database: "example"

# Solution

1. The six values are
    * Protocol: "postgres"
    * User: "postgres"
    * Password: "12345"
    * Location: "localhost"
    * Port: "5432"
    * Database: "pets"

2. Connection strings are URLs, but differ from website URLs by
    * Different protocol, i.e. "postgres" vs "http(s)"
    * Connection strings have user, password, and database, while website URLs do not
    * Website URLs have port 80 implied (but can use different ports, i.e. Jupyter Notebook)

3. The connection string is "mysql://admin:p@ssw0rd123@rds.us-east-2.amazonaws.com:3306/example"

# Instructor Turn -- Connection Strings - üë©‚Äçüè´üßë‚Äçüè´

In [ ]:
protocol = "____"
user = "____"
password = "____"
location = "____"
port = "____"
database = "____"

connection_string = f"{protocol}://{user}:{password}@{location}:{port}/{database}"
print(connection_string)

In [ ]:
protocol = "postgres"
user = "admin"
password = "p@ssw0rd"
location = "localhost"
port = "5432"
database = "db"

connection_string = f"{protocol}://{user}:{password}@{location}:{port}/{database}"
print(connection_string)

# to_sql()

* **File:**
    [alice.txt](Activities/C3-Stu_to_sql()/Resources/alice.txt)

* **Instructions**

    * In pgAdmin, create a database called `alice_db`

    * Create a connection string and engine to connect to `alice_db`

    * Use the Pandas to_sql() method to load the contents of alice_df into a table called `alice`

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from config import db_password

In [ ]:
# load in Alice in Wonderland text
alice_file = './Resources/alice.txt'

alice_df = pd.read_csv(alice_file, sep='\n', header=None)
alice_df.columns = ['text']

In [ ]:
connection_string = f'postgres://postgres:{db_password}@localhost:5432/alice_db'

engine = create_engine(connection_string)

# Extra Content by TA

In [ ]:
engine = create_engine('postgresql+psycopg2://user:pswd@mydb')
df.to_sql('temp_table', engine, if_exists='replace')
sql = """
    UPDATE final_table AS f
    SET col1 = t.col1
    FROM temp_table AS t
    WHERE f.id = t.id
"""
with engine.begin() as conn:     # TRANSACTION
    conn.execute(sql)

In [ ]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
from config import username, password
#username="postgres"
#password = "password_for_server"
protocol = "postgres"
location = "127.0.0.1"
port = "5432"
db = "practice"
class SQL_Database:
    def __init__(self, protocol, username, password, location, port, db):
        '''
        Store database credentials:
        Parameters:
            protocol - the protocol for the database
            username - database username
            password - database password
            location - the ip address for server location
            port     - port for connection
            db       - name of the database
        '''
        self.protocol = protocol
        self.username = username
        self.password = password
        self.location = location
        self.port = port
        self.db = db
    def connect(self):
        '''
        Lets setup a test for DB connection:
        Sets in Class object:
            engine - engine used to extract data
            conn   - connection value to verify connection
            cursor - the cursor item from the connection
        '''
        connection_string = f'{self.protocol}://{self.username}:{self.password}@{self.location}:{self.port}/{self.db}'  
        self.conn = psycopg2.connect(connection_string)
        self.cursor = self.conn.cursor()
        self.engine = create_engine(connection_string)
        print("Connected!")
        print(pd.DataFrame(self.engine.table_names(), columns=["Tables in database:"]))
    def insert_or_create(self,data_df, table_name):
        '''
        This will insert a new table if the table does not exist.
        If the table does exist we will append to the table
        Parameters:
            data_df    - a dataframe of the data we are inserting
            table_name - name of the table we are inserting the data into
        '''
        check=self.engine.has_table(table_name)
        if check == False:
            print("New table created")
            data_df.to_sql(name=table_name, con=self.engine, index=False)
        else:
            print("Table appended too")
            data_df.to_sql(name=table_name, con=self.engine, index=False, if_exists="append")

In [ ]:
# How to utilize it:
database = SQL_Database(protocol, username, password, location, port, db)
database.connect()
database.insert_or_create(data_loading_df, table_name)

# Instructor Turn to_sql() üë©‚Äçüè´üßë‚Äçüè´

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
import psycopg2

In [ ]:
# load in Sherlock Holmes text
sherlock_file = './Resources/sherlock.txt'

sherlock_df = pd.read_csv(sherlock_file, sep='\n', header=None)
sherlock_df.columns = ['text']

In [ ]:
connection_string = f'postgres://postgres:{db_password}@localhost:5432/sherlock_db'

engine = create_engine(connection_string)

In [ ]:
protocol = ''
user = ''
location = ''
port = ''
db = ''
def connect():
    
    # Set up a connection to the postgres server.
    connection_string = f'{protocol}://{user}:{db_password}@{location}:{port}/{db}'
            
    conn = psycopg2.connect(connection_string)
    print("Connected!")

    # Create a cursor object
    cursor = conn.cursor()
    
    return conn, cursor

In [ ]:
connect()

In [ ]:
sherlock_df.to_sql(name="sherlock", con=engine, index=False)